<a href="https://colab.research.google.com/github/Trieuvyy3110/LapTrinhPythonNangCao/blob/main/Lab02/Chuong8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Bài 1:

In [1]:
kingdoms=['Bacteria', 'Protozoa', 'Chromista', 
'Plantae', 'Fungi',
'Animalia']
print('Bai 1')
print('a:',kingdoms[0])
print('b:',kingdoms[5])
print('c:',kingdoms[:3])
print('d:',kingdoms[2:5])
print('e:',kingdoms[4:])
print('f:',kingdoms[1:0])

Bai 1
a: Bacteria
b: Animalia
c: ['Bacteria', 'Protozoa', 'Chromista']
d: ['Chromista', 'Plantae', 'Fungi']
e: ['Fungi', 'Animalia']
f: []
---------------------------

Bài 2:

In [2]:
kingdoms=['Bacteria', 'Protozoa', 'Chromista', 
'Plantae', 'Fungi',
'Animalia']
print('Bai 2 : Using negative indices')
print('a:',kingdoms[-6])
print('b:',kingdoms[-1])
print('c:',kingdoms[-6:-3])
print('d:',kingdoms[-4:-1])
print('e:',kingdoms[-2:])
print('f:',kingdoms[-1:-2])

Bai 2 : Using negative indices
a: Bacteria
b: Animalia
c: ['Bacteria', 'Protozoa', 'Chromista']
d: ['Chromista', 'Plantae', 'Fungi']
e: ['Fungi', 'Animalia']
f: []

Bài 3:

In [3]:
print('Bai 3:')
appointments=['9:00', '10:30', '14:00', '15:00', 
'15:30']
list2=[]
list2.extend(appointments)
list2.append('16:30')
list2+=['16:30']
print('List default:',appointments)
print('New list:',list2)

Bai 3:
List default: ['9:00', '10:30', '14:00', '15:00', '15:30']
New list: ['9:00', '10:30', '14:00', '15:00', '15:30', '16:30', '16:30']

Bài 4:

In [4]:
print('Bai 4')
numberlist=[4353, 2314, 2956, 3382, 9362, 3900]
numberlist.pop(3)
index=numberlist.index(9362)
numberlist.insert(4,4492)
numberlist.extend([5566,1830])
numberlist.reverse()
numberlist.sort()
print('List:',numberlist)
print('Index of 9362 in default list is:',index)

Bai 4
List: [1830, 2314, 2956, 3900, 4353, 4492, 5566, 9362]
Index of 9362 in default list is: 3

Bài 5:

In [5]:
ha1=[]
alkaline_earth_metals=['beryllium',4,
                       'magnesium',12,
                       'calcium',20,
                       'strontium',38,
                       'barium',56,
                       'radium',88,]
index=alkaline_earth_metals.index('radium')
print('Index of radium is: ',index)
print('Positive index of Radium','is',alkaline_earth_metals[10])
print('Negative index of Radium','is',alkaline_earth_metals[-2])
print('Total item in alkaline_earth_metals is:',len(alkaline_earth_metals))
high=max(alkaline_earth_metals,key=lambda x:(isinstance(x,int),x))
print('The highest atomic number in list is:',high)

Index of radium is:  10
Positive index of Radium is radium
Negative index of Radium is radium
Total item in alkaline_earth_metals is: 12
The highest atomic number in list is: 88

Bài 6:

In [6]:
temps1=[]
temps=[25.2,16.8, 31.4, 23.9, 28, 22.5,19.6]
temps1.extend(temps)
temps1.sort()
cool_temps=temps1[:2]
warm_temps=temps1[2:]
temps_in_celsius=cool_temps+warm_temps
print('DEFAULT TEMPS LIST:',temps,'\n')
print('COOL TEMPS LIST(ABOVE 20 DEGREES):',cool_temps,'\n')
print('WARM TEMPS LIST(BELOW 20 DEGREES):',warm_temps,'\n')
print('TEMPS IN CELSIUS:',temps_in_celsius)

DEFAULT TEMPS LIST: [25.2, 16.8, 31.4, 23.9, 28, 22.5, 19.6]

COOL TEMPS LIST(ABOVE 20 DEGREES): [16.8, 19.6]

WARM TEMPS LIST(BELOW 20 DEGREES): [22.5, 23.9, 25.2, 28, 31.4]

TEMPS IN CELSIUS: [16.8, 19.6, 22.5, 23.9, 25.2, 28, 31.4]

Bài 7:

In [7]:
print('Bai 7')
def same_first_last(L:list): #len>=2
       if L[0]==L[-1]:
              return True
       else:
              return False
print(same_first_last([3,2,1,3]))
print(same_first_last(['apple', 'banana', 'pear']))
print(same_first_last([4.0, 4.5]))

Bai 7
True
False
False

Bài 8:

In [8]:
print('Bai 8')
def is_longer(L1:list,L2:list):
       if len(L1)>len(L2):
              return True
       else:
              return False
print(is_longer([1, 2, 3], [4, 5])
)
print(is_longer(['abcdef'], ['ab', 'cd', 'ef']))
print(is_longer(['abcdef'], ['ab', 'cd', 'ef']))

Bai 8
True
False
False

Bài 9:

In [9]:
print('Bai 9:\n Example 1:\n')
values=[0,1,2]
values[1]=values
if (id(values)==id(values[1])):
       print('Same')

values=[0,1,2,3]
if (id(values)!=id(values[1])):
       print('Different')
print('\n Example 2:')
values=[0,1,2]
values[1]=values
print('values[1]:',values[1])
values=[0,1,2,3]
print('values[1]:',values[1])

Bai 9:
 Example 1:

Same
Different

 Example 2:
values[1]: [0, [...], 2]
values[1]: 1

Bài 10:

In [10]:
print('Bai 10')
nested_list=[['km', 'miles', 'league'],['kg', 'pound', 'stone']]
first_inner=nested_list[0]
last_inner=nested_list[1]
km=first_inner[0]
kg=last_inner[0]
mileleague=first_inner[1:3]
kgpound=last_inner[0:2]
print(first_inner)
print(last_inner)
print(km)
print(kg)
print(mileleague)
print(kgpound)

Bai 10
['km', 'miles', 'league']
['kg', 'pound', 'stone']
km
kg
['miles', 'league']
['kg', 'pound']

Bài 11:

In [11]:
print('Bai 11: Negative indices as task 10 \n')
first_inner2=nested_list[-2]
last_inner2=nested_list[-1]
km2=first_inner[-3]
kg2=last_inner[-3]
mileleague2=first_inner2[-2:]
kgpound2=last_inner2[:-1]
print(first_inner2)
print(last_inner2)
print(km2)
print(kg2)
print(mileleague2)
print(kgpound2)

Bai 11: Negative indices as task 10

['km', 'miles', 'league']
['kg', 'pound', 'stone']
km
kg
['miles', 'league']
['kg', 'pound']